@import url("main.css");

h1 {
  font-size: 24px;
}

p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.cd-section {
  text-align: center;
}

.cd-section h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #333;
}

.cd-section p {
  margin-bottom: 10px;
}

.cd-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cd-section ul li {
  margin-bottom: 10px;
  position: relative;
}

.cd-section ul li::before {
  content: "•";
  position: absolute;
  left: -20px;
}

.cd-section .payment-info {
  margin-top: 20px;
}

.cd-section p.price {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-top: 20px;
  text-align: center;
  border: 2px solid #eea60a;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  letter-spacing: 1px;
  background-color: #fdf9f9f1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

p1 {
  color: #fff;
  font-size: 20px;
}
