{% extends 'layout.html.twig' %}
{% block content %}
<section class="notfound-section">
  <p class="notfound-code">404</p>
  <h2>Page introuvable</h2>
  <p class="notfound-text">
    Oups&nbsp;! La page que vous recherchez n'existe pas ou a été déplacée.
  </p>
  <a class="notfound-home" href="/">Retour à l'accueil</a>
</section>
{% endblock %}
