{
    "openapi": "3.1.0",
    "info": {
        "title": "Les Canetons API",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https://lescanetons.org/api",
            "description": "Production"
        }
    ],
    "paths": {
        "/me/password": {
            "post": {
                "operationId": "accountPassword",
                "description": "Gated on authentication alone \u2014 no permission. This is the one screen\nevery account holder needs and nobody administers, and it is where every\nfirst login lands, because a committee-issued password arrives with\nmust_change_password set.\n\nRe-authentication here is not ceremony bolted on: knowing the current\npassword is the only thing standing between a borrowed, unlocked phone\nand a permanently stolen account. It reuses Reauthentication, so the same\nper-actor throttle applies.",
                "summary": "A member changes their own password",
                "tags": [
                    "AccountPassword"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AccountPasswordRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "sessionsEnded": {
                                            "type": "integer",
                                            "description": "AFTER regenerate(), deliberately: the id changes, and reading it\nbeforehand would keep the row regenerate() has just destroyed\nwhile deleting the live one. See SessionRevoker. Measured 2026-09-08: no test here distinguishes this from\nforMember(). regenerate() runs first, so the new id has no row\nyet and both calls remove the same three; the actor stays logged\nin either way because the session is persisted at the end of the\nrequest. Kept as the correct call \u2014 sessionsEnded then means\n\"other sessions\", which is what the UI reports."
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "sessionsEnded"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/login": {
            "post": {
                "operationId": "auth.login",
                "tags": [
                    "Auth"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "password": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "username",
                                    "password"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Deliberately no role or permissions in this body. The client asks\nGET /api/me for identity, so there is exactly one shape describing\nwho you are and one place to change it.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "One generic code, never per-field: saying which of username or\npassword was wrong enables enumeration. A member with no username\nnever reaches here \u2014 the `required` rule above rejects an empty\none, and a NULL username matches nothing.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "const": "Incorrect username or password"
                                        },
                                        "code": {
                                            "type": "string",
                                            "const": "invalid_credentials"
                                        },
                                        "fields": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    },
                                    "required": [
                                        "error",
                                        "code",
                                        "fields"
                                    ]
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "const": "Too many attempts"
                                        },
                                        "code": {
                                            "type": "string",
                                            "const": "too_many_attempts"
                                        },
                                        "fields": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    },
                                    "required": [
                                        "error",
                                        "code",
                                        "fields"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/logout": {
            "post": {
                "operationId": "auth.logout",
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/me": {
            "get": {
                "operationId": "auth.me",
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "username": {
                                            "type": "string"
                                        },
                                        "firstName": {
                                            "type": "string"
                                        },
                                        "lastName": {
                                            "type": "string"
                                        },
                                        "isPlayer": {
                                            "type": "boolean"
                                        },
                                        "mustChangePassword": {
                                            "type": "boolean"
                                        },
                                        "permissions": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "username",
                                        "firstName",
                                        "lastName",
                                        "isPlayer",
                                        "mustChangePassword",
                                        "permissions"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/config": {
            "get": {
                "operationId": "config",
                "tags": [
                    "Config"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "env": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "env"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contact": {
            "post": {
                "operationId": "contact",
                "tags": [
                    "Contact"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContactRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/members": {
            "get": {
                "operationId": "member.index",
                "description": "Ordered by name because this screen is scanned for a person, not browsed\nby register. Grouping by register is the UI's business, and it has\nsectionName to do it with.\n\nwith() is not an optimisation to revisit later: ~45 members without it is\nthree queries each on a shared host, and the screen that administers the\nband is the one that would feel it. Pinned by\nMemberIndexTest::test_listing_the_roster_costs_a_fixed_number_of_queries.",
                "summary": "The whole roster \u2014 everyone, account or not",
                "tags": [
                    "Member"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `MemberResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/MemberResource"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "member.store",
                "description": "THE PASSWORD IS MINTED HERE AND RETURNED ONCE. The plan had create make a\nperson with no credential, leaving \"give this person an account\" as a\nseparate operation. That cannot survive the credentials model: a member\ncreated with an unusable placeholder could be granted members.manage and\nthen be the only administrator left after a deletion \u2014 holding the\npermission and unable to log in. That is the ghost administrator the\nmigration dissolved, and this is the door it would have come back\nthrough.\n\nThe value is the same readable, dictatable one a reset produces\n(GeneratedPassword), and must_change_password is set, because a password\nan administrator read down the phone is not a secret worth keeping.\n\nIT GRANTS NO ROLES, and that is a security property rather than a\nsimplification. Granting a permission is exactly one operation \u2014\nPUT /members/{member}/roles \u2014 which re-authenticates, checks the lockout\ninvariants and audits. Accepting roleIds here would have made the\nUNGUARDED path strictly easier than the guarded one: a stolen session\ncould mint a member holding `direction` and read its password straight\nout of this response, a persistent backdoor needing no password at all.\n\nNo AccessIntegrity check is needed for the same reason: a person with no\nroles cannot orphan administration or demote anybody.",
                "summary": "Creates a person \u2014 which means creating an account, because every member\nhas one (2026_09_08_000001)",
                "tags": [
                    "Member"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreMemberRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "A literal wrapping a Resource, deliberately: the credential is not\npart of a member and must never appear in MemberResource, where every\nlater read of the roster would carry it.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "member": {
                                            "$ref": "#/components/schemas/MemberResource"
                                        },
                                        "generatedPassword": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "member",
                                        "generatedPassword"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/members/{member}": {
            "patch": {
                "operationId": "member.update",
                "description": "The fields go through array_key_exists(), not isset() or has(): both are\nfalse for an explicitly-sent null, so clearing a register would silently\ndo nothing.",
                "summary": "Edits a person. Roles and passwords are elsewhere, each behind its own\nre-authentication \u2014 this is not destructive and deliberately does not\nprompt for one",
                "tags": [
                    "Member"
                ],
                "parameters": [
                    {
                        "name": "member",
                        "in": "path",
                        "required": true,
                        "description": "The member ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateMemberRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`MemberResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MemberResource"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "delete": {
                "operationId": "member.destroy",
                "description": "Existence is the state (design D3): there is no `active` flag and no soft\ndelete, so leaving the band is this.\n\nSame ordering rule as MemberRoleController \u2014 re-authenticate, then check\nthe invariants, then write \u2014 and capture the name BEFORE the delete,\nbecause the row is gone by the time anyone reads the audit back.\n\nREQUIRES THE `X-Reauth-Password` HEADER carrying the caller's own current\npassword. Not a body field and never a query parameter: Apache logs query\nstrings in plain text, and RFC 9110 gives a DELETE body no defined\nsemantics, which is how the generated client once turned this into\n?currentPassword=... See App\\Support\\Reauthentication.",
                "summary": "Removes a person entirely",
                "tags": [
                    "Member"
                ],
                "parameters": [
                    {
                        "name": "member",
                        "in": "path",
                        "required": true,
                        "description": "The member ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "sessionsEnded": {
                                            "type": "integer",
                                            "description": "In the SAME transaction as the change (\u00a76). A revoked permission\nthat only takes effect at the next login is a permission the\nholder can keep using all evening."
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "sessionsEnded"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/members/{member}/password": {
            "post": {
                "operationId": "memberPassword",
                "description": "\u00a74.4 describes ONE mechanism for a password coming into being \u2014 open a\nmember, hit \"R\u00e9initialiser le mot de passe\", read out what appears \u2014 so\nthere is one endpoint for it. Since 2026_09_08_000001 every member\nalready has a password, so this is always a reset; the \"give this person\n     * an account\" case is POST /api/members, which mints one at creation using\nthe same generator and the same forced-change semantics.\n\nThe returned password is the only copy that will ever exist in plaintext:\nit is hashed on the way into the database, never written to the audit\nlog, and never returned again.\n\nREQUIRES THE `X-Reauth-Password` HEADER carrying the caller's own current\npassword. Not a body field and never a query parameter: Apache logs query\nstrings in plain text, and RFC 9110 gives a DELETE body no defined\nsemantics, which is how the generated client once turned this into\n?currentPassword=... See App\\Support\\Reauthentication.",
                "summary": "Issues a member a new password, shown to the administrator exactly once",
                "tags": [
                    "MemberPassword"
                ],
                "parameters": [
                    {
                        "name": "member",
                        "in": "path",
                        "required": true,
                        "description": "The member ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "generatedPassword": {
                                            "type": "string"
                                        },
                                        "sessionsEnded": {
                                            "type": "integer",
                                            "description": "In the SAME transaction as the change (\u00a76). A revoked permission\nthat only takes effect at the next login is a permission the\nholder can keep using all evening."
                                        }
                                    },
                                    "required": [
                                        "generatedPassword",
                                        "sessionsEnded"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/members/{member}/roles": {
            "put": {
                "operationId": "memberRole",
                "description": "THE ORDER OF THE FIRST THREE STEPS IS THE WHOLE SECURITY OF THIS\nENDPOINT:\n\n  1. re-authenticate, before anything is read or written, so a stolen\n     session cannot change what anybody can do;\n  2. check the invariants, before the write, so a refusal leaves no\n     trace;\n  3. write, then revoke, then audit.\n\nGetting 1 and 2 the other way round would leak whether a change WOULD be\nallowed to somebody who cannot make it \u2014 pinned by\ntest_a_wrong_password_on_a_self_demotion_reports_the_password_not_the_rule.\nGetting 3 wrong \u2014 revoking before writing \u2014 would end the sessions and\nthen fail, leaving the member logged out with their old permissions\nintact.\n\nREQUIRES THE `X-Reauth-Password` HEADER carrying the caller's own current\npassword. Not a body field and never a query parameter: Apache logs query\nstrings in plain text, and RFC 9110 gives a DELETE body no defined\nsemantics, which is how the generated client once turned this into\n?currentPassword=... See App\\Support\\Reauthentication.",
                "summary": "Replaces one member's roles \u2014 which is the only way any permission is\never granted or taken away (design \u00a73: no direct per-member grants)",
                "tags": [
                    "MemberRole"
                ],
                "parameters": [
                    {
                        "name": "member",
                        "in": "path",
                        "required": true,
                        "description": "The member ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReplaceMemberRolesRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "member": {
                                            "$ref": "#/components/schemas/MemberResource"
                                        },
                                        "sessionsEnded": {
                                            "type": "integer",
                                            "description": "In the SAME transaction as the change (\u00a76). A revoked permission\nthat only takes effect at the next login is a permission the\nholder can keep using all evening."
                                        }
                                    },
                                    "required": [
                                        "member",
                                        "sessionsEnded"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/roles": {
            "get": {
                "operationId": "role.index",
                "summary": "`index()`, not `__invoke()` \u2014 see SectionController for why",
                "tags": [
                    "Role"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `RoleResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/RoleResource"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/sections": {
            "get": {
                "operationId": "section.index",
                "description": "The return type is AnonymousResourceCollection rather than JsonResponse\ndeliberately: it is what lets Scramble emit a $ref to a named schema.\nWrapping this in response()->json() would erase the type and generate\n`string[]` in the client \u2014 measured, not inferred.\n\n`index()` rather than `__invoke()`, even though this controller has one\naction: Scramble names the operation after controller + method and drops\nthe method for a single-action controller, so `__invoke` would generate\nthe hook `useSection` for something that returns a list. `index` gives\n`useSectionIndex`.",
                "summary": "The registers, in their configured order",
                "tags": [
                    "Section"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `SectionResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/SectionResource"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "AccountPasswordRequest": {
                "type": "object",
                "description": "A member choosing their own password.\n\nEIGHT CHARACTERS, and that is a judgement rather than a standard. The people\ntyping this are 6-16 years old, on a phone, and the account protects a\nrehearsal calendar. Login is throttled per username AND per IP with a\nfifteen-minute lockout, there is no password reset by email to phish, and the\ncommittee-issued default is ~57 bits \u2014 so the marginal value of demanding\ntwelve is small next to the number of children who would write it on the\ninside of a case lid. Raise it if the committee asks.\n\nRule order: `required` before `min`, so an empty field reports `required`\nrather than `too_short`.",
                "properties": {
                    "currentPassword": {
                        "type": "string"
                    },
                    "newPassword": {
                        "type": "string",
                        "minLength": 8,
                        "maxLength": 255
                    }
                },
                "required": [
                    "currentPassword",
                    "newPassword"
                ],
                "title": "AccountPasswordRequest"
            },
            "ContactRequest": {
                "type": "object",
                "description": "Field names are camelCase because contact.js posts the form via FormData with\nthose input names, and App\\Exceptions\\ApiError echoes them straight into\nfields[].field, where i18n.js looks them up. Renaming them silently breaks\nthe French error messages. (The signup form uses snake_case \u2014 the two forms\ngenuinely differ; do not normalise.)\n\nRule ORDER is load-bearing: ApiError reports only the first failed rule per\nfield, so `required` must come first (an empty field reports `required`, not\n`invalid_format`) and `max` must precede `email` (an over-long address\nreports `too_long`). This mirrors App\\Dto\\ContactInput's attribute order.",
                "properties": {
                    "lastName": {
                        "type": "string",
                        "maxLength": 255
                    },
                    "firstName": {
                        "type": "string",
                        "maxLength": 255
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "maxLength": 255
                    },
                    "subject": {
                        "type": "string",
                        "maxLength": 255
                    },
                    "message": {
                        "type": "string"
                    }
                },
                "required": [
                    "lastName",
                    "firstName",
                    "email",
                    "subject",
                    "message"
                ],
                "title": "ContactRequest"
            },
            "MemberResource": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "username": {
                        "type": "string"
                    },
                    "mustChangePassword": {
                        "type": "boolean"
                    },
                    "lastLoginAt": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "sectionId": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "sectionName": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "isPlayer": {
                        "type": "boolean",
                        "description": "Whether they PLAY, which is the single fact that decides who is\nanswerable for an event. Derived from section_id rather than\nstored, so the two can never disagree."
                    },
                    "committeeTitle": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "Text a person typed, so it is stored and rendered verbatim and is\nnever translated \u2014 unlike a role's name, which is a key."
                    },
                    "instructorOfSectionId": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "publicVisible": {
                        "type": "boolean"
                    },
                    "roleIds": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        }
                    }
                },
                "required": [
                    "id",
                    "firstName",
                    "lastName",
                    "username",
                    "mustChangePassword",
                    "lastLoginAt",
                    "sectionId",
                    "sectionName",
                    "isPlayer",
                    "committeeTitle",
                    "instructorOfSectionId",
                    "publicVisible",
                    "roleIds"
                ],
                "title": "MemberResource"
            },
            "ReplaceMemberRolesRequest": {
                "type": "object",
                "description": "Replacing one member's roles.\n\nPUT SEMANTICS: `roleIds` is the complete set the member will be left with,\nand an empty array means \"no roles\". That is deliberate \u2014 a PATCH-style \"add\n * this one\" API cannot express removal, and removal is the half that needs the\ninvariants.\n\n`roleIds` is `present`, not `required`: `required` rejects an empty array,\nwhich is the most important value this endpoint accepts.",
                "properties": {
                    "roleIds": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        }
                    }
                },
                "required": [
                    "roleIds"
                ],
                "title": "ReplaceMemberRolesRequest"
            },
            "RoleResource": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "key": {
                        "type": "string"
                    },
                    "permissions": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "required": [
                    "id",
                    "key",
                    "permissions"
                ],
                "title": "RoleResource"
            },
            "SectionResource": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "sortOrder": {
                        "type": "integer"
                    }
                },
                "required": [
                    "id",
                    "name",
                    "sortOrder"
                ],
                "title": "SectionResource"
            },
            "StoreMemberRequest": {
                "type": "object",
                "description": "Creating a person on the roster \u2014 which means creating an account, because\nevery member has one (2026_09_08_000001).\n\n`username` is REQUIRED for that reason. It used to be optional, back when a\nrow could be a person without a login; that model is what let somebody hold\nmembers.manage while being unable to authenticate, and deleting the only real\nadministrator then locked the band out.\n\nThere is deliberately no `roleIds` field either: granting a permission is\nexactly one operation, PUT /members/{member}/roles, which re-authenticates\nand checks the lockout invariants. Accepting roles here would let a stolen\nsession create a working administrator without ever proving who it is.\n\nThere is deliberately no `password` field. The password is GENERATED by the\ncontroller and returned once \u2014 an administrator reads it down the phone (\u00a74.4)\n\u2014 so nobody types a credential into this form and no weak one can be chosen.\n\nField names are camelCase, matching what the SPA sends and what\nApp\\Exceptions\\ApiError echoes into fields[].field, where web/src/i18n/fr.ts\nlooks them up. Renaming one silently breaks its French error message.\n\nRULE ORDER IS LOAD-BEARING: ApiError reports only the FIRST failed rule per\nfield, so `required` comes first (an empty field reports `required`, not\n`invalid_format`) and `max` precedes `unique` (an over-long username reports\n`too_long` rather than costing a database round-trip).",
                "properties": {
                    "firstName": {
                        "type": "string",
                        "maxLength": 255
                    },
                    "lastName": {
                        "type": "string",
                        "maxLength": 255
                    },
                    "username": {
                        "type": "string",
                        "description": "Lower case, digits, dot, hyphen, underscore. The seeded logins\nlook like `demo.direction`, and a username that has to be\ndictated should not depend on capitalisation. The column collates\ncase-insensitively anyway, so `Lea` and `lea` would be the same\naccount \u2014 the rule makes that visible rather than surprising.",
                        "pattern": "^[a-z0-9._-]+$",
                        "maxLength": 255
                    },
                    "sectionId": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "committeeTitle": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "maxLength": 255
                    },
                    "instructorOfSectionId": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "publicVisible": {
                        "type": "boolean",
                        "description": "Required, not defaulted: publication of a minor's name is a\ndecision somebody makes, so the form has to state it rather than\ninherit it."
                    }
                },
                "required": [
                    "firstName",
                    "lastName",
                    "username",
                    "publicVisible"
                ],
                "title": "StoreMemberRequest"
            },
            "UpdateMemberRequest": {
                "type": "object",
                "description": "Editing a person on the roster.\n\nPATCH, so every rule is `sometimes`: a form that posts only the field it\nchanged must not blank the others.\n\n`sometimes` is not the same as `nullable`, and both are needed on the\nnullable columns \u2014 `sometimes` means \"skip this field if absent\", `nullable`\nmeans \"null is a legal value when present\". Without `sometimes` an absent\nfield fails `required`; without `nullable` an explicit null fails the type\nrules. Clearing a register is an explicit null, so both matter.\n\n`username` is the one field that is `sometimes` but NOT `nullable`: it is the\nlogin, and every member has one. Clearing it used to be allowed, and used to\nrequire clearing the password and ending the sessions with it \u2014 an entire\nbranch that 2026_09_08_000001 deleted by making the column NOT NULL.\n\nROLES ARE NOT HERE. Replacing them is PUT /api/members/{member}/roles, which\nneeds re-authentication and its own invariant check; folding it into the\ngeneral edit would put a privilege change behind a form that has neither.\nNeither is the password: that is its own endpoint, and its own dialog.",
                "properties": {
                    "firstName": {
                        "type": "string",
                        "maxLength": 255
                    },
                    "lastName": {
                        "type": "string",
                        "maxLength": 255
                    },
                    "username": {
                        "type": "string",
                        "pattern": "^[a-z0-9._-]+$",
                        "maxLength": 255
                    },
                    "sectionId": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "committeeTitle": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "maxLength": 255
                    },
                    "instructorOfSectionId": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "publicVisible": {
                        "type": "boolean"
                    }
                },
                "title": "UpdateMemberRequest"
            }
        },
        "responses": {
            "ValidationException": {
                "description": "Validation failed. See App\\Exceptions\\ApiError::validation().",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "string",
                                    "description": "English message. Never displayed: the front end renders `code`."
                                },
                                "code": {
                                    "type": "string",
                                    "description": "Stable machine token the front end maps to French.",
                                    "enum": [
                                        "validation_failed"
                                    ]
                                },
                                "fields": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "field": {
                                                "type": "string"
                                            },
                                            "reason": {
                                                "type": "string"
                                            },
                                            "params": {
                                                "type": "object",
                                                "additionalProperties": {}
                                            }
                                        },
                                        "required": [
                                            "field",
                                            "reason"
                                        ]
                                    }
                                }
                            },
                            "required": [
                                "error",
                                "code",
                                "fields"
                            ]
                        }
                    }
                }
            },
            "AuthenticationException": {
                "description": "Not authenticated.",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "string",
                                    "description": "English message. Never displayed: the front end renders `code`."
                                },
                                "code": {
                                    "type": "string",
                                    "description": "Stable machine token the front end maps to French.",
                                    "enum": [
                                        "not_authenticated"
                                    ]
                                }
                            },
                            "required": [
                                "error",
                                "code"
                            ]
                        }
                    }
                }
            },
            "ModelNotFoundException": {
                "description": "Not found",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "description": "Error overview."
                                }
                            },
                            "required": [
                                "message"
                            ]
                        }
                    }
                }
            }
        }
    }
}
