{
    "openapi": "3.1.0",
    "info": {
        "title": "Les Canetons API",
        "version": "0.0.1",
        "description": "The API behind the members' area and the public forms of the Guggenmusik\n**Les Canetons de Fribourg**.\n\n## Authenticating\n\nSession cookies, not tokens. The browser and the API share one origin, so\nthere is no CORS and no `Authorization` header.\n\n1. `GET /sanctum/csrf-cookie` once per page load. It sets `XSRF-TOKEN`.\n2. `POST /api/login` with `username` and `password`.\n3. Send the `XSRF-TOKEN` cookie value back as an `X-XSRF-TOKEN` header on\n   every request that writes. Without it a write answers\n   `419 invalid_session`.\n\nReads that need a session answer `401 not_authenticated` without one.\n\n## Errors\n\nEvery failure uses one shape:\n\n```json\n{\n  \"error\": \"Invalid form submission\",\n  \"code\": \"validation_failed\",\n  \"fields\": [{ \"field\": \"endsAt\", \"reason\": \"must_be_after\" }]\n}\n```\n\n`code` and `fields[].reason` are stable machine tokens, never prose to show\na user. The front end maps them to French; any other client should do the\nsame rather than displaying `error`, which is English and meant for logs.\n\n`fields` is present only on `400 validation_failed`. A `reason` may carry\n`params` (for example `{\"max\": 255}`) when the sentence needs a number.\n\n## Status codes\n\n| Code | Means |\n| --- | --- |\n| `400` | The submitted fields are wrong. See `fields`. |\n| `401` | No session. Log in. |\n| `403` | Logged in, but not allowed to do this. |\n| `404` | No such thing, or nothing you may know exists. |\n| `409` | Allowed, but it conflicts with the current state. |\n| `419` | The session or CSRF token expired. Prime the cookie and retry. |\n| `422` | The submission looks automated. See *Public forms*. |\n| `429` | Rate limited. |\n| `503` | The service is temporarily refusing to serve. |\n\n## Permissions\n\nAuthorisation is by permission, never by role. Roles are editable data that\ngroup permissions; which role granted one is not a question the API answers.\n`GET /api/me` returns the caller's effective permissions.\n\n`events.manage`, `attendance.view_all`, `attendance.record_for_others`,\n`members.manage`, `registrations.view`, `registrations.manage`.\n\nAnswering an event deliberately needs **no** permission: anyone in a register\nanswers for themselves.\n\n## Conventions\n\n- Field names are `camelCase` in both directions.\n- Timestamps are ISO 8601 with an offset (`2026-09-05T10:00:00+02:00`).\n  Events happen in Europe/Zurich whatever the reader's timezone; send an\n  offset and one will be honoured.\n- Money is an integer number of centimes. `4500` is CHF 45.00.\n- Collections are returned as bare JSON arrays, with no `data` envelope.\n\n## Public forms\n\n`POST /api/contact` and `POST /api/events/{event}/registrations` are open to\nanonymous callers and are protected against automated submission. Both\nrequire:\n\n- an `X-Form-Token` header, from `GET /api/form-token`, at least two seconds\n  and at most two hours old, and\n- a `website` field, present and empty.\n\nFailing either answers `422 spam_suspected`. Both endpoints are rate limited\nto 10 requests a minute per IP."
    },
    "servers": [
        {
            "url": "https://lescanetons.org/api",
            "description": "Production"
        }
    ],
    "tags": [
        {
            "name": "Session"
        },
        {
            "name": "Events"
        },
        {
            "name": "Attendance"
        },
        {
            "name": "Registration"
        },
        {
            "name": "Members"
        },
        {
            "name": "Public forms"
        },
        {
            "name": "Service"
        }
    ],
    "paths": {
        "/login": {
            "post": {
                "operationId": "auth.login",
                "description": "Anonymous. Send `username` and `password`. A successful call answers\n`{\"ok\": true}` and establishes the session cookie every authenticated\nendpoint reads. It deliberately carries no identity of its own: call\n`GET /api/me` afterwards for who you are and what you may do.\n\nA username that does not exist and a wrong password both answer\n`401 invalid_credentials`, the same code for each, so that neither can\nbe used to discover which accounts exist.\n\nAfter five failures for one username from one address, further attempts\nanswer `429 too_many_attempts` for fifteen minutes, counted from the\nfirst failure. A correct password during the lockout is still refused,\nand attempts made while locked out do not extend it.",
                "summary": "Log in",
                "tags": [
                    "Session"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "password": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "username",
                                    "password"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "const": "Incorrect username or password"
                                        },
                                        "code": {
                                            "type": "string",
                                            "const": "invalid_credentials"
                                        },
                                        "fields": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    },
                                    "required": [
                                        "error",
                                        "code",
                                        "fields"
                                    ]
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "const": "Too many attempts"
                                        },
                                        "code": {
                                            "type": "string",
                                            "const": "too_many_attempts"
                                        },
                                        "fields": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    },
                                    "required": [
                                        "error",
                                        "code",
                                        "fields"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/logout": {
            "post": {
                "operationId": "auth.logout",
                "description": "Any logged-in member. Ends the current session, discards its cookie and\nissues a fresh CSRF token, so the page that called this can go straight\non to log in again. Answers `{\"ok\": true}`.\n\nAn anonymous caller answers `401 not_authenticated`.",
                "summary": "Log out",
                "tags": [
                    "Session"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/me": {
            "get": {
                "operationId": "auth.me",
                "description": "Any logged-in member. Returns the caller's id, username, first and last\nname, whether they play in a register (`isPlayer`, the single fact that\ndecides who is answerable for an event), whether they must change their\npassword before anything else (`mustChangePassword`), and `permissions`.\n\n`permissions` is the flat list of permission tokens the caller's roles\nadd up to, and it is what a client shows or hides a screen on. Roles are\nnot sent, because nothing in this API is authorised by role name.\n\nThe response is never cacheable. An anonymous caller answers\n`401 not_authenticated`.",
                "summary": "Read the current member and what they may do",
                "tags": [
                    "Session"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "username": {
                                            "type": "string"
                                        },
                                        "firstName": {
                                            "type": "string"
                                        },
                                        "lastName": {
                                            "type": "string"
                                        },
                                        "isPlayer": {
                                            "type": "boolean"
                                        },
                                        "mustChangePassword": {
                                            "type": "boolean"
                                        },
                                        "permissions": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "username",
                                        "firstName",
                                        "lastName",
                                        "isPlayer",
                                        "mustChangePassword",
                                        "permissions"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/me/password": {
            "post": {
                "operationId": "accountPassword",
                "description": "Any logged-in account holder, for their own account. No permission is\nneeded: this is the screen every member has and nobody administers, and\nit is where a member sent by `mustChangePassword` lands.\n\nSend `currentPassword` and `newPassword`. The new one must be at least\neight characters.\n\nOn success the password is replaced, the forced-change flag is cleared,\nand every other session the member has open is ended. Answers\n`{\"ok\": true, \"sessionsEnded\": n}`, where `sessionsEnded` counts those\nother sessions; the calling session stays valid.\n\nA wrong `currentPassword` answers `403 reauth_failed`. After five wrong\nones the account answers `429 too_many_attempts` for fifteen minutes,\nand a correct password during that window is still refused. A\n`newPassword` shorter than eight characters answers\n`400 validation_failed` with `too_short` against `newPassword`.",
                "summary": "Change your own password",
                "tags": [
                    "Session"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AccountPasswordRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "sessionsEnded": {
                                            "type": "integer"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "sessionsEnded"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/events": {
            "get": {
                "operationId": "event.index",
                "description": "Any logged-in member; no permission is needed. Returns the events still\nto come, soonest first, each carrying `myAttendance`: the caller's own\nanswer, or `null` where they have not given one.\n\n`?past=1` returns the history instead, the events that have already\nhappened, newest first. Any other value, or none, gives the upcoming\nplanning. The two are halves of the list rather than a list and a\nsuperset of it.\n\nAn event taking place today stays in the planning for the whole of that\nday; it does not move to the history the moment it starts.",
                "summary": "List the planning",
                "tags": [
                    "Events"
                ],
                "parameters": [
                    {
                        "name": "past",
                        "in": "query",
                        "description": "Set to `1` for the history \u2014 past events, newest first \u2014 instead of the upcoming planning. Any other value, or none, gives the planning.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of `EventResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/EventResource"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "event.store",
                "description": "Requires `events.manage`. Answers `201` with the created event.\n\n`startsAt` and `endsAt` are ISO 8601 instants carrying an offset, and\n`endsAt` must come after `startsAt` or it fails validation against that\nfield with `must_be_after`. An event spanning two days is an ordinary\nrow, not an error. `title`, `location`, `startsAt`, `endsAt` and\n`isPublic` are required; a missing one fails validation against itself\nwith `required`.\n\nSetting `registrationClosesAt` is what opens the event to public\nregistration. It must come after `registrationOpensAt`, which may be\nleft null to mean the form opens as soon as the closing date is set,\nand `registrationMaxGuests` caps how many people one booking may cover.",
                "summary": "Put a rehearsal or a gig on the planning",
                "tags": [
                    "Events"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreEventRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "`EventResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EventResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/events/{event}": {
            "get": {
                "operationId": "event.show",
                "description": "Any logged-in member; no permission is needed. Returns the event with\n`myAttendance`, the caller's own answer or `null`.\n\nWorks for a past event as well as an upcoming one, unlike the default\nlist. An unknown id answers `404`.",
                "summary": "Read one event",
                "tags": [
                    "Events"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "description": "The event ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`EventResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EventResource"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "patch": {
                "operationId": "event.update",
                "description": "Requires `events.manage`. Send only the fields that change: an omitted\nfield is left alone, and an explicit `null` clears an optional one such\nas `attire` or `notes`. Returns the updated event, including the\ncaller's own `myAttendance`.\n\n`endsAt` must still come after the start. A request that sends a new end\nand no new start is compared against the stored `startsAt`, and fails\nagainst `endsAt` with `must_be_after` if it falls before it.\n\nClearing `registrationClosesAt` switches public registration off again.",
                "summary": "Correct an event already on the planning",
                "tags": [
                    "Events"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "description": "The event ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateEventRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`EventResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EventResource"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "delete": {
                "operationId": "event.destroy",
                "description": "Requires `events.manage`. Deletes the event and everything attached to\nit: every attendance answer given for it, and every public registration\nbooked for it.\n\nAnswers `{\"ok\": true, \"attendanceDeleted\": n, \"registrationsDeleted\": n}`\nwith the counts of what went with it, so a confirmation can say what is\nabout to be discarded rather than merely asking again.",
                "summary": "Take an event off the planning",
                "tags": [
                    "Events"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "description": "The event ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "attendanceDeleted": {
                                            "type": "integer",
                                            "minimum": 0
                                        },
                                        "registrationsDeleted": {
                                            "type": "integer",
                                            "minimum": 0
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "attendanceDeleted",
                                        "registrationsDeleted"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/events/series": {
            "post": {
                "operationId": "eventSeries",
                "description": "Requires `events.manage`. Takes a `template` and a list of `Y-m-d`\n`dates`, at most 60 of them, and creates one event per date. Answers\n`201` with the created events, in the same shape `GET /api/events`\nreturns, so a client can refresh its list straight from the response.\n\nThe events are independent, and there is no series afterwards: nothing\nlinks them, and each one is edited, answered and deleted on its own.\n\nThe template carries `startTime` and `endTime` as `H:i` wall-clock\nstrings rather than instants, applied in Europe/Zurich for each date.\nA season that crosses the daylight-saving change therefore keeps the\nsame time on the clock throughout. `endTime` must be after `startTime`.\n\n`title`, `location`, `isPublic`, `startTime` and `endTime` are required\non the template; `attire` and `notes` are optional. An empty date list\nfails validation against `dates` with `required`, more than 60 dates\nwith `too_long`, and a date that is not `Y-m-d` against its own entry\nwith `invalid_format`. A refused request writes nothing at all.",
                "summary": "Generate a season of events from one template",
                "tags": [
                    "Events"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreEventSeriesRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Array of `EventResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/EventResource"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/events/{event}/attendance": {
            "put": {
                "operationId": "attendance.update",
                "description": "Any logged-in member who is in a register; no permission is needed.\nAnswering is idempotent: sending an answer again replaces the previous\none rather than adding a second, and the response is always `200` with\nthe answer as it now stands, including its `recordedAt`.\n\n`status` is `yes` or `no`; anything else fails validation against that\nfield with `invalid_value`, which lists what is accepted.\n\nTaking back a `yes` costs a reason: if the stored answer is `yes` and\nthe incoming one is `no`, `note` is required, and a blank one fails\nvalidation against `note` with `required`. A first answer of `no`, and\na change from `no` to `yes`, cost nothing. Recording on somebody else's\nbehalf is exempt from this rule.\n\nA member who is in no register is refused with `403 not_answerable`:\nnothing is being asked of them, and no permission would change that.\n\nAnswering for yourself clears any mark saying the direction entered the\nanswer.",
                "summary": "Record your own answer for an event",
                "tags": [
                    "Attendance"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "description": "The event ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RecordOwnAttendanceRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`AttendanceResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AttendanceResource"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "delete": {
                "operationId": "attendance.destroy",
                "description": "Any logged-in member; no permission is needed. Removes the answer\nentirely and returns the event to unanswered, which is a state a second\n`PUT` cannot express. Answers `{\"ok\": true}`, and taking back an answer\nthat is not there is not an error.\n\nThe window closes five minutes after the answer was last recorded;\nafter that it answers `409 answer_already_settled`. `recordedAt` on the\nanswer is what tells a client whether the window is still open, so it\ncan offer the undo or not rather than finding out from a refusal.",
                "summary": "Take back your own answer",
                "tags": [
                    "Attendance"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "description": "The event ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "get": {
                "operationId": "attendance.index",
                "description": "Requires `attendance.view_all`. Returns every member who is answerable\nfor the event, ordered by name, whether or not they have replied: an\nentry's `attendance` is `null` for somebody who has not, which is what\nthis list is read for.\n\nAnswerable means being in a register. A member who is in none, such as\nsomebody who only organises, never appears here.\n\nEach entry carries the member's name and register alongside their\nanswer, and an answer says whether the direction entered it rather than\nthe member giving it themselves.",
                "summary": "List who is coming to an event",
                "tags": [
                    "Attendance"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "description": "The event ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of `ChaseListEntryResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ChaseListEntryResource"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/events/{event}/attendance/{member}": {
            "put": {
                "operationId": "memberAttendance.update",
                "description": "Requires `attendance.record_for_others`, for the member who telephones\nthe committee instead of answering themselves. Idempotent: sending an\nanswer again replaces the previous one, and the response is always\n`200` with the answer as it now stands. It is marked as recorded by the\ndirection, so a list does not imply the member replied.\n\n`status` is `yes` or `no`; anything else fails validation against that\nfield with `invalid_value`. `note` is free text for whatever the member\nsaid, and stays optional even when the answer takes back a `yes`. A\nmember answering for themselves owes a reason for that; inventing one\non somebody else's behalf would put words in their mouth.\n\nRefuses `409 cannot_record_for_self` when the member named is the\ncaller, whose own answer has its own endpoint, and `403 not_answerable`\nwhen that member is in no register.",
                "summary": "Record an answer on a member's behalf",
                "tags": [
                    "Attendance"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "description": "The event ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "member",
                        "in": "path",
                        "required": true,
                        "description": "The member ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RecordMemberAttendanceRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`AttendanceResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AttendanceResource"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "delete": {
                "operationId": "memberAttendance.destroy",
                "description": "Requires `attendance.record_for_others`. Removes that member's answer\nfor the event entirely, returning them to unanswered. Answers\n`{\"ok\": true}`, and taking back an answer that is not there is not an\nerror.\n\nUnlike a member undoing their own answer, this is not limited to five\nminutes: correcting a mis-aimed entry an hour later is the case it\nexists for.\n\nRefuses `409 cannot_record_for_self` when the member named is the\ncaller. Use `DELETE /api/events/{event}/attendance` for your own\nanswer.",
                "summary": "Take back a member's answer",
                "tags": [
                    "Attendance"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "description": "The event ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "member",
                        "in": "path",
                        "required": true,
                        "description": "The member ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/events/{event}/registrations": {
            "post": {
                "operationId": "registration.store",
                "description": "Anonymous, and protected against automated submission: send the\n`X-Form-Token` header from `GET /api/form-token` and a `website` field\nthat is present and empty, or the request answers\n`422 spam_suspected`. Rate limited to 10 a minute per IP.\n\nReturns the booking with its line items, the number of people it\ncovers and what it comes to in centimes. A confirmation email is sent\nto the address given; a mail failure does not fail the booking.\n\nRefuses with `registration_not_open` before the window opens and\n`registration_closed` after it shuts, both `409`. A booking larger\nthan the event's per-booking cap fails validation against `choices`\nwith `too_many_guests`. Options must belong to this event, and each\nmay appear at most once.",
                "summary": "Book a place at an event",
                "tags": [
                    "Registration"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "description": "The event ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreRegistrationRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "get": {
                "operationId": "registration.index",
                "description": "Requires `registrations.view`. Returns every booking oldest first,\neach with its line items, the number of people it covers and its\ntotal in centimes.\n\nThis contains personal data supplied by members of the public. The\nsame list is available as a file from\n`GET /api/events/{event}/registrations.{format}`.",
                "summary": "List everyone booked for an event",
                "tags": [
                    "Registration"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "description": "The event ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of `RegistrationResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/RegistrationResource"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/events/{event}/registration": {
            "get": {
                "operationId": "registration.form",
                "description": "Anonymous. Returns what a public form needs: the event's title, dates\nand location, the options that can be booked, the maximum number of\npeople one booking may cover, and whether the form is open right now.\n\n`open` is computed by the server. Do not derive it from `opensAt` and\n`closesAt` on the client, whose clock may be wrong.\n\nAn event that takes no registrations answers `404`, whether or not it\nexists. An event that is enabled but outside its window answers `200`\nwith `open: false`, so the form can say when bookings start or that\nthey have closed.",
                "summary": "Read a booking form",
                "tags": [
                    "Registration"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "description": "The event ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`RegistrationFormResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RegistrationFormResource"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            }
        },
        "/events/{event}/registrations.{format}": {
            "get": {
                "operationId": "guestListExport",
                "description": "Requires `registrations.view`. `{format}` is `xlsx`, `csv`, `md` or\n`json`; any other value is a `404` from the router.\n\nReturns the list as an attachment named after the event: one row per\nbooking with the guest's details, a column for each of the event's\nbookable options holding how many of it that booking took, the number\nof people it covers, its total in francs and when it was made, then a\nclosing totals row for the caterer. Every format carries the same rows\nin the same order.\n\nThe CSV is semicolon-separated and carries a UTF-8 byte order mark, so\nExcel opens it in columns and with accents intact.\n\nXLSX needs the PHP `zip` extension. A server without it answers\n`503 xlsx_unavailable`, and CSV still works there.",
                "summary": "Download the guest list as a file",
                "tags": [
                    "Registration"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "description": "The event ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "text/csv; charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "text/markdown; charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "headers": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "rows": {
                                            "type": "array",
                                            "items": {
                                                "type": "array",
                                                "items": {}
                                            }
                                        },
                                        "totals": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    },
                                    "required": [
                                        "headers",
                                        "rows",
                                        "totals"
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "Transfer-Encoding": {
                                "required": true,
                                "schema": {
                                    "type": "string",
                                    "enum": [
                                        "chunked"
                                    ]
                                }
                            },
                            "Content-Disposition": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "const": "XLSX export needs the PHP zip extension, which this server does not have. Use CSV."
                                        },
                                        "code": {
                                            "type": "string",
                                            "const": "xlsx_unavailable"
                                        },
                                        "fields": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    },
                                    "required": [
                                        "error",
                                        "code",
                                        "fields"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/registrations/{registration}": {
            "patch": {
                "operationId": "registration.update",
                "description": "Requires `registrations.manage`. Guests cannot amend their own\nbooking, so this is how a misspelled name, a wrong number or a\nseating change is fixed.\n\nSend only the fields that change. An explicit `null` clears an\noptional field; an omitted field is left alone.\n\nWhat was ordered cannot be changed here. Cancel the booking and make\na new one instead.",
                "summary": "Correct a booking's details",
                "tags": [
                    "Registration"
                ],
                "parameters": [
                    {
                        "name": "registration",
                        "in": "path",
                        "required": true,
                        "description": "The registration ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateRegistrationRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`RegistrationResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RegistrationResource"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "delete": {
                "operationId": "registration.destroy",
                "description": "Requires `registrations.manage`. Removes the booking and everything\nit ordered. The guest is not notified.\n\nAnswers `{\"ok\": true}`.",
                "summary": "Cancel a booking",
                "tags": [
                    "Registration"
                ],
                "parameters": [
                    {
                        "name": "registration",
                        "in": "path",
                        "required": true,
                        "description": "The registration ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/events/{event}/registration-options": {
            "put": {
                "operationId": "registrationOption",
                "description": "Requires `events.manage`, because configuring what an event offers is\nconfiguring the event.\n\nSend the complete list. An entry carrying an `id` updates that option,\nan entry without one creates it, and an option missing from the list\nis deleted. Replaying the same body converges on the same list, so a\nretry after a timeout is safe.\n\n`priceCents` is a whole number of centimes and may be null, for an\noption that is free or whose price lives in its description.\n`sortOrder` may be left out, in which case the entry's position in the\nlist is used.\n\nReturns the event's options as they now stand, in sort order.\n\nRemoving an option somebody has already booked answers\n`409 option_has_registrations`, names the options in the way, and\nchanges nothing. An `id` belonging to another event's option, more\nthan 50 entries, or a missing label answers `400 validation_failed`.",
                "summary": "Replace an event's bookable options",
                "tags": [
                    "Registration"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "description": "The event ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReplaceRegistrationOptionsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Array of `RegistrationOptionResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/RegistrationOptionResource"
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": "string",
                                            "const": "option_has_registrations"
                                        },
                                        "fields": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    },
                                    "required": [
                                        "error",
                                        "code",
                                        "fields"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/sections": {
            "get": {
                "operationId": "section.index",
                "description": "Requires `members.manage`. Read-only reference data, for a client\nbuilding the roster form.\n\nReturns every register (\"pupitre\") with its name, in the order the\nband has configured. A member's register is what makes them a player,\nand therefore answerable for an event.",
                "summary": "List the registers",
                "tags": [
                    "Members"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `SectionResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/SectionResource"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/roles": {
            "get": {
                "operationId": "role.index",
                "description": "Requires `members.manage`. Read-only reference data, for a client\nbuilding the roster form.\n\nReturns every role with the permissions it grants. A role carries no\ndisplay name: `key` is the fixed identifier and the client translates\nit.",
                "summary": "List the roles",
                "tags": [
                    "Members"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `RoleResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/RoleResource"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/members": {
            "get": {
                "operationId": "member.index",
                "description": "Requires `members.manage`. Returns everyone the band tracks, ordered by\nlast name then first name. Each entry carries the person's register\n(`sectionId` and `sectionName`), whether they play (`isPlayer`), their\ncommittee title, whether they may be shown on the public site, and\n`roleIds`, the roles they hold.\n\nNo password and no hash is ever included, and neither are effective\npermissions: a role is what grants them, so read `GET /api/roles` and\njoin on `roleIds`.",
                "summary": "List the roster",
                "tags": [
                    "Members"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `MemberResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/MemberResource"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "member.store",
                "description": "Requires `members.manage`. Creating a person creates their account:\nevery member has one. Send `firstName`, `lastName`, `username` and\n`publicVisible`, and optionally `sectionId`, `committeeTitle` and\n`instructorOfSectionId`.\n\nAnswers `201` with `member` and `generatedPassword`, a readable password\nthe server minted for the new account. It is shown in this response and\nnowhere else: it is hashed on the way into the database, is never\nwritten to the audit log, and no later call returns it. An administrator\nwho loses it issues a new one at\n`POST /api/members/{member}/password`. The new member is required to\nchange it before doing anything else.\n\nNo roles are granted. Roles are `PUT /api/members/{member}/roles`, and\nno password may be chosen here.\n\nA missing required field answers `400 validation_failed` naming the\nfield with `required`. A username already in use answers the same with\n`already_taken`; one containing anything but lower-case letters, digits,\ndot, hyphen or underscore answers `invalid_format`.",
                "summary": "Add a member to the roster",
                "tags": [
                    "Members"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreMemberRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "member": {
                                            "$ref": "#/components/schemas/MemberResource"
                                        },
                                        "generatedPassword": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "member",
                                        "generatedPassword"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/members/{member}": {
            "patch": {
                "operationId": "member.update",
                "description": "Requires `members.manage`. Send only the fields that change: an omitted\nfield is left alone, and an explicit `null` clears an optional one such\nas the register or the committee title. Returns the updated member.\n\nRoles and passwords are not editable here. They are\n`PUT /api/members/{member}/roles` and\n`POST /api/members/{member}/password`, each of which also ends the\nmember's sessions.\n\nA username already in use answers `400 validation_failed` with\n`already_taken` against `username`, and one that is not lower-case\nletters, digits, dot, hyphen or underscore answers `invalid_format`.",
                "summary": "Correct a member's details",
                "tags": [
                    "Members"
                ],
                "parameters": [
                    {
                        "name": "member",
                        "in": "path",
                        "required": true,
                        "description": "The member ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateMemberRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`MemberResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MemberResource"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "delete": {
                "operationId": "member.destroy",
                "description": "Requires `members.manage`. Deletes the person outright and ends every\nsession they have open, so a deleted member stops being logged in at\nonce. There is no deactivation flag and no undo: leaving the band is\nthis call. Answers `{\"ok\": true, \"sessionsEnded\": n}`.\n\nRefuses with `409 cannot_remove_last_administrator` when the target is\nthe only member left who could administer members, and\n`409 cannot_delete_self` when the target is the caller. Both are `409`\nrather than `403` because the caller does hold the permission; the\nrequest conflicts with the state of the roster. When both apply, the\nlast-administrator refusal is the one returned.",
                "summary": "Remove a member from the roster",
                "tags": [
                    "Members"
                ],
                "parameters": [
                    {
                        "name": "member",
                        "in": "path",
                        "required": true,
                        "description": "The member ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "sessionsEnded": {
                                            "type": "integer"
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "sessionsEnded"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/members/{member}/roles": {
            "put": {
                "operationId": "memberRole",
                "description": "Requires `members.manage`. `roleIds` is the complete set the member is\nleft with, so send every role they should keep; an empty array removes\nall of them. Read the roles that exist from `GET /api/roles`.\n\nThis is the only way any permission is granted or taken away. A role is\nwhat groups permissions, and no endpoint in this API authorises by role\nname, so nothing is ever granted to one member directly.\n\nThe change ends every session the member has open, so a permission that\nhas just been removed stops working immediately rather than at their\nnext login. Answers the updated member and `sessionsEnded`.\n\nRefuses with `409 cannot_remove_last_administrator` when the new set\nwould leave nobody able to administer members, and\n`409 cannot_demote_self` when callers would strip their own member\nadministration. Both are `409` rather than `403` because the caller does\nhold the permission; the request conflicts with the state of the roster.\nWhen both apply, the last-administrator refusal is the one returned. An\nunknown role id answers `400 validation_failed` against `roleIds`.",
                "summary": "Replace a member's roles",
                "tags": [
                    "Members"
                ],
                "parameters": [
                    {
                        "name": "member",
                        "in": "path",
                        "required": true,
                        "description": "The member ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReplaceMemberRolesRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "member": {
                                            "$ref": "#/components/schemas/MemberResource"
                                        },
                                        "sessionsEnded": {
                                            "type": "integer"
                                        }
                                    },
                                    "required": [
                                        "member",
                                        "sessionsEnded"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/members/{member}/password": {
            "post": {
                "operationId": "memberPassword",
                "description": "Requires `members.manage`. Mints a readable password an administrator\ncan dictate over the phone, replaces the member's own with it, and ends\nevery session that member has open. Takes no body. Answers\n`{\"generatedPassword\": \"...\", \"sessionsEnded\": n}`.\n\n`generatedPassword` is shown in this response and nowhere else: it is\nhashed on the way into the database, is never written to the audit log,\nand no later call returns it. A lost one is replaced by calling this\nagain. The member is required to change it at their next login, through\n`POST /api/me/password`.\n\nA member resetting their own password this way keeps the session they\nare calling from, and `sessionsEnded` then counts their other ones. The\nordinary route for that is `POST /api/me/password`, which lets them\nchoose the password instead.",
                "summary": "Reset a member's password",
                "tags": [
                    "Members"
                ],
                "parameters": [
                    {
                        "name": "member",
                        "in": "path",
                        "required": true,
                        "description": "The member ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "generatedPassword": {
                                            "type": "string"
                                        },
                                        "sessionsEnded": {
                                            "type": "integer"
                                        }
                                    },
                                    "required": [
                                        "generatedPassword",
                                        "sessionsEnded"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/form-token": {
            "get": {
                "operationId": "formToken",
                "description": "Anonymous, and no session is required. Rate limited to 10 a minute per\nIP.\n\nReturns `{\"token\": \"...\"}`, to be sent back as the `X-Form-Token`\nheader on a public write: `POST /api/contact` and\n`POST /api/events/{event}/registrations`.\n\nFetch it when the form is rendered, not when it is submitted. The\nsubmission guard refuses a token less than two seconds old, so\nrequesting one at submit time would refuse every real person. A token\nstays valid for two hours and may be sent more than once, so a\nsubmission that fails validation can be retried with the token already\nin hand.",
                "summary": "Issue a form token for a public form",
                "tags": [
                    "Public forms"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "token": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "token"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contact": {
            "post": {
                "operationId": "contact",
                "description": "Anonymous, and protected against automated submission: send the\n`X-Form-Token` header from `GET /api/form-token` and a `website` field\nthat is present and empty, or the request answers `422 spam_suspected`.\nFetch that token when the form is rendered rather than when it is\nsubmitted, because one less than two seconds old is refused. Rate\nlimited to 10 a minute per IP.\n\nStores the message for the committee to read and answers\n`{\"ok\": true}`. Nothing is sent back to the address given.\n\nA missing or malformed field answers `400 validation_failed`, with each\nproblem named in `fields[]`.",
                "summary": "Send a message to the committee",
                "tags": [
                    "Public forms"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContactRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/config": {
            "get": {
                "operationId": "config",
                "description": "Anonymous, and no session is required. The SPA fetches this before its\nfirst render to learn which environment it is talking to and which\nfeature flags are on.\n\nReturns `env`, one of `dev`, `test`, `qa` or `prod`, and `features`, a\nmap of flag name to boolean. A flag the server says nothing about\nreads as `false`, and an environment the server does not recognise\nreads as `prod`.\n\nCarries no secrets and depends on nothing about the caller. The\nresponse is `no-store`, so a value changed on the server is picked up\non the next page load.",
                "summary": "Read the runtime configuration",
                "tags": [
                    "Service"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "env": {
                                            "type": "string"
                                        },
                                        "features": {
                                            "type": "object",
                                            "properties": {
                                                "calendar": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "required": [
                                                "calendar"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "env",
                                        "features"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "AccountPasswordRequest": {
                "type": "object",
                "description": "The credentials for changing your own password.\n\nSend the password the account is using now and the one to replace it with.\nThe current password is checked again server-side before anything is\nwritten, so knowing it is what separates a borrowed session from a\npermanently stolen account.\n\nThe only requirement on the new password is a minimum of eight characters.\nThere is no complexity rule, no reuse check and no expiry.",
                "properties": {
                    "currentPassword": {
                        "type": "string",
                        "description": "The password the account is using right now. Re-verified before the change is applied; a wrong one answers `403 reauth_failed`."
                    },
                    "newPassword": {
                        "type": "string",
                        "description": "The replacement. At least 8 characters; a shorter one fails with `too_short`.",
                        "minLength": 8,
                        "maxLength": 255
                    }
                },
                "required": [
                    "currentPassword",
                    "newPassword"
                ],
                "title": "AccountPasswordRequest"
            },
            "AttendanceResource": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "description": "Whether the member is coming. One of `yes` or `no`."
                    },
                    "note": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "Free text the member or the committee added. Required when a member changes their own answer from `yes` to `no`."
                    },
                    "recordedByDirection": {
                        "type": "boolean",
                        "description": "True when the committee entered this answer for the member rather than the member answering themselves."
                    },
                    "recordedAt": {
                        "type": "string",
                        "description": "When the answer was last written. A member may withdraw their own answer entirely for five minutes after this."
                    }
                },
                "required": [
                    "status",
                    "note",
                    "recordedByDirection",
                    "recordedAt"
                ],
                "title": "AttendanceResource"
            },
            "ChaseListEntryResource": {
                "type": "object",
                "properties": {
                    "memberId": {
                        "type": "integer",
                        "description": "The member this row is about."
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "sectionName": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "The register they play in. Everyone on this list has one; that is what makes them answerable."
                    },
                    "attendance": {
                        "anyOf": [
                            {
                                "description": "Their answer, or null if they have not replied. The nulls are what this list is read for.",
                                "$ref": "#/components/schemas/AttendanceResource"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    }
                },
                "required": [
                    "memberId",
                    "firstName",
                    "lastName",
                    "sectionName",
                    "attendance"
                ],
                "title": "ChaseListEntryResource"
            },
            "ContactRequest": {
                "type": "object",
                "description": "A message sent through the public contact form.\n\nAnonymous, so it also has to satisfy the public write guard: send the\n`X-Form-Token` header from `GET /api/form-token` and a `website` field that\nis present and empty, or the request answers `422 spam_suspected`.\n\nEvery field here is required. The body is capped at 5000 characters, which\nis a long letter; anything longer is refused rather than truncated.",
                "properties": {
                    "lastName": {
                        "type": "string",
                        "maxLength": 255
                    },
                    "firstName": {
                        "type": "string",
                        "maxLength": 255
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Where the committee will reply. Nothing is sent to it automatically.",
                        "maxLength": 255
                    },
                    "subject": {
                        "type": "string",
                        "maxLength": 255
                    },
                    "message": {
                        "type": "string",
                        "description": "The message body, up to 5000 characters. Plain text; no markup is rendered.",
                        "maxLength": 5000
                    }
                },
                "required": [
                    "lastName",
                    "firstName",
                    "email",
                    "subject",
                    "message"
                ],
                "title": "ContactRequest"
            },
            "EventResource": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "title": {
                        "type": "string"
                    },
                    "startsAt": {
                        "type": "string",
                        "description": "ISO 8601 with an offset. The event happens at this wall-clock time in Europe/Zurich."
                    },
                    "endsAt": {
                        "type": "string",
                        "description": "ISO 8601 with an offset. Always after `startsAt`, and may fall on a later day."
                    },
                    "location": {
                        "type": "string"
                    },
                    "attire": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "What to wear, or null when nothing was specified."
                    },
                    "isPublic": {
                        "type": "boolean",
                        "description": "Whether the event may be shown to people outside the band."
                    },
                    "notes": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "Free text for members. Not shown to the public."
                    },
                    "registrationOpensAt": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "registrationClosesAt": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "registrationMaxGuests": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "takesRegistrations": {
                        "type": "boolean",
                        "description": "Whether this event accepts public bookings at all. True exactly when `registrationClosesAt` is set."
                    },
                    "myAttendance": {
                        "anyOf": [
                            {
                                "description": "The CALLING member's own answer for this event, or null if they have not replied. Never anybody else's.",
                                "$ref": "#/components/schemas/AttendanceResource"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    }
                },
                "required": [
                    "id",
                    "title",
                    "startsAt",
                    "endsAt",
                    "location",
                    "attire",
                    "isPublic",
                    "notes",
                    "registrationOpensAt",
                    "registrationClosesAt",
                    "registrationMaxGuests",
                    "takesRegistrations",
                    "myAttendance"
                ],
                "title": "EventResource"
            },
            "MemberResource": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "username": {
                        "type": "string"
                    },
                    "mustChangePassword": {
                        "type": "boolean",
                        "description": "True after a committee-issued password. Every screen but /account is blocked until they change it."
                    },
                    "lastLoginAt": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "sectionId": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "sectionName": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "isPlayer": {
                        "type": "boolean",
                        "description": "Whether they play in a register. Only players are answerable for events."
                    },
[...]
