{
    "openapi": "3.1.0",
    "info": {
        "title": "Les Canetons API",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https://lescanetons.org/api",
            "description": "Production"
        }
    ],
    "paths": {
        "/me/password": {
            "post": {
                "operationId": "accountPassword",
                "description": "Gated on authentication alone \u2014 no permission. This is the one screen\nevery account holder needs and nobody administers, and it is where every\nfirst login lands, because a committee-issued password arrives with\nmust_change_password set.\n\nRe-authentication here is not ceremony bolted on: knowing the current\npassword is the only thing standing between a borrowed, unlocked phone\nand a permanently stolen account. It reuses Reauthentication, so the same\nper-actor throttle applies.",
                "summary": "A member changes their own password",
                "tags": [
                    "AccountPassword"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AccountPasswordRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "sessionsEnded": {
                                            "type": "integer",
                                            "description": "AFTER regenerate(), deliberately: the id changes, and reading it\nbeforehand would keep the row regenerate() has just destroyed\nwhile deleting the live one. See SessionRevoker. Measured 2026-09-08: no test here distinguishes this from\nforMember(). regenerate() runs first, so the new id has no row\nyet and both calls remove the same three; the actor stays logged\nin either way because the session is persisted at the end of the\nrequest. Kept as the correct call \u2014 sessionsEnded then means\n\"other sessions\", which is what the UI reports."
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "sessionsEnded"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/events/{event}/attendance": {
            "put": {
                "operationId": "attendance.update",
                "description": "PUT, so it is an IDEMPOTENT UPSERT: tapping Oui and then Non needs no\ncreate-versus-update branch in the client and cannot race itself into\ntwo rows \u2014 UNIQUE(event_id, member_id) is the backstop.\n\nNOT AUDITED, deliberately. The audit log records privileged mutations,\nand answering for yourself is the one write in this release that\neverybody makes and nobody administers. The on-behalf route IS audited,\nbecause that one is a person acting for another person.",
                "summary": "A member's own answer",
                "tags": [
                    "Attendance"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "description": "The event ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RecordOwnAttendanceRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`AttendanceResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AttendanceResource"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "delete": {
                "operationId": "attendance.destroy",
                "description": "The window is AttendanceIntegrity's (C12).",
                "summary": "UNDO. Removes the answer entirely, returning the event to unanswered \u2014\nwhich is what a second PUT cannot express, and the whole reason this\nendpoint exists rather than the client sending the opposite answer",
                "tags": [
                    "Attendance"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "description": "The event ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "get": {
                "operationId": "attendance.index",
                "description": "Returning only the answers would push \"who has not replied?\" \u2014 the\nentire point of this screen \u2014 into a client-side diff against a\nseparately-fetched roster, which is two requests that can disagree.\n\nAnswerable means Member::isPlayer(): having a register. There is\ndeliberately no permission for being answerable \u2014 making it a grant is\nwhat produced the old bug where an admin could not say whether they\nwere coming, and left the \"Pas de r\u00e9ponse\" counts meaningless.\n\nTWO QUERIES WHATEVER THE ROSTER SIZE: the players with their register,\nand this event's answers keyed by member. Pinned by\ntest_the_chase_list_costs_a_fixed_number_of_queries \u2014 the roster is ~45\npeople and this screen is read on a phone at a rehearsal.",
                "summary": "THE CHASE LIST \u2014 every answerable member, not just those who replied",
                "tags": [
                    "Attendance"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "description": "The event ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of `ChaseListEntryResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ChaseListEntryResource"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/login": {
            "post": {
                "operationId": "auth.login",
                "tags": [
                    "Auth"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "password": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "username",
                                    "password"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Deliberately no role or permissions in this body. The client asks\nGET /api/me for identity, so there is exactly one shape describing\nwho you are and one place to change it.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "One generic code, never per-field: saying which of username or\npassword was wrong enables enumeration. A member with no username\nnever reaches here \u2014 the `required` rule above rejects an empty\none, and a NULL username matches nothing.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "const": "Incorrect username or password"
                                        },
                                        "code": {
                                            "type": "string",
                                            "const": "invalid_credentials"
                                        },
                                        "fields": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    },
                                    "required": [
                                        "error",
                                        "code",
                                        "fields"
                                    ]
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "const": "Too many attempts"
                                        },
                                        "code": {
                                            "type": "string",
                                            "const": "too_many_attempts"
                                        },
                                        "fields": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    },
                                    "required": [
                                        "error",
                                        "code",
                                        "fields"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/logout": {
            "post": {
                "operationId": "auth.logout",
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/me": {
            "get": {
                "operationId": "auth.me",
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "username": {
                                            "type": "string"
                                        },
                                        "firstName": {
                                            "type": "string"
                                        },
                                        "lastName": {
                                            "type": "string"
                                        },
                                        "isPlayer": {
                                            "type": "boolean"
                                        },
                                        "mustChangePassword": {
                                            "type": "boolean"
                                        },
                                        "permissions": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "username",
                                        "firstName",
                                        "lastName",
                                        "isPlayer",
                                        "mustChangePassword",
                                        "permissions"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/config": {
            "get": {
                "operationId": "config",
                "tags": [
                    "Config"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "env": {
                                            "type": "string"
                                        },
                                        "features": {
                                            "type": "object",
                                            "properties": {
                                                "calendar": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "required": [
                                                "calendar"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "env",
                                        "features"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contact": {
            "post": {
                "operationId": "contact",
                "tags": [
                    "Contact"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContactRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/events": {
            "get": {
                "operationId": "event.index",
                "description": "`?past=1` is the OTHER HALF of the list, not a superset of it \u2014 by next\ncarnival the full list is a hundred rehearsals to scroll past on a\nphone. It also reverses the order, because history is read backwards\nfrom now, while the planning ahead is read soonest-first.\n\nThe split is on BandTime::startOfToday(), not now(): a rehearsal that\nbegan an hour ago must stay in the planning of somebody running late.\nPinned by EventIndexTest::test_an_event_happening_today_stays_in_the_planning_all_day,\nand mutation-tested by hand against now() \u2014 see Task 4 step 7.\n\nAnything that is not exactly the magic word '1' is the default,\nupcoming view \u2014 the same fail-safe direction MigrateController takes\nwith its `mode` parameter: a missing, misspelled or truncated value\nmust never be the one that hides events.\n\nONE eager load, and it is the one R1c-2 was given room for: the\ncaller's own answer, constrained to them in the query. MEASURED\n2026-09-09 at exactly 1 query before attendance existed; the join\nmakes it 2, against the budget of 3 that\ntest_listing_the_planning_costs_a_fixed_number_of_queries has always\nasserted. The spare room was deliberate and is now spent.",
                "summary": "The planning: upcoming by default, or the history behind `?past=1`",
                "tags": [
                    "Event"
                ],
                "parameters": [
                    {
                        "name": "past",
                        "in": "query",
                        "description": "Set to `1` for the history \u2014 past events, newest first \u2014 instead of the upcoming planning. Any other value, or none, gives the planning.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of `EventResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/EventResource"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "event.store",
                "description": "201 with the created row, not 204: the SPA drops the response straight\ninto the list it is already showing, and a second GET to learn the id\nwould race the next writer.\n\nAudited, like every other privileged mutation, with the title captured\nas the label \u2014 see App\\Support\\Audit for why the CALLER reads it.\n\nThe two timestamps go in as the SPA sent them, offset and all. Turning\nthem into UTC instants is App\\Casts\\UtcDateTime's job, on the column \u2014\nthis endpoint deliberately knows nothing about it, which is what makes\nevery other writer of these columns correct too.",
                "summary": "Puts a rehearsal or a gig on the planning",
                "tags": [
                    "Event"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreEventRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "`EventResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EventResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/events/{event}": {
            "get": {
                "operationId": "event.show",
                "description": "Not redundant with index(): the edit form loads through this rather\nthan hunting the list, because a past event is absent from the default\nlist entirely \u2014 finding it there would work right up until somebody\nedited last month's rehearsal. Route-model binding turns an unknown id\ninto a ModelNotFoundException; Laravel's own exception handler rewrites\nthat into a 404 before any render() closure sees it (checked against\nbootstrap/app.php \u2014 no closure there is typed on it, so this 404 is the\nFRAMEWORK's default JSON shape, not App\\Exceptions\\ApiError's\n{error, code, fields[]} contract; EventIndexTest only asserts the\nstatus for that reason).",
                "summary": "One event, by id",
                "tags": [
                    "Event"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "description": "The event ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`EventResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EventResource"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "patch": {
                "operationId": "event.update",
                "description": "The fields go through array_key_exists(), not isset(): isset() is false\nfor an explicitly-sent null, so clearing the attire or the notes \u2014 the\ncommittee deciding a gig is in ordinary clothes after all \u2014 would answer\n200 and silently change nothing. MemberController::update() carries the\nsame loop for the same reason.\n\n(That comment there also names $request->has(). MEASURED 2026-09-10:\nhas() is in fact TRUE for an explicitly-sent null \u2014 Arr::has() is\narray_key_exists underneath, and it is filled() that reads false. So\nhas() would work here; array_key_exists is still the right shape,\nbecause it asks the question of validated() \u2014 the array the rules have\nalready vetted \u2014 rather than of the raw input.)\n\nThe two timestamps go in as the SPA sent them, offset and all \u2014 see\nstore(), and App\\Casts\\UtcDateTime for why no endpoint converts them.\n\nAudited with the NEW title: a row still labelled with the old one names\nan event that no longer exists under that name.",
                "summary": "Corrects one already on it",
                "tags": [
                    "Event"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "description": "The event ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateEventRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Loaded explicitly: an organiser who also plays has their own answer\non this event, and a response reporting myAttendance as null would\nreset the buttons on their own screen. See EventResource.\n\n\n\n`EventResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EventResource"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "delete": {
                "operationId": "event.destroy",
                "description": "NO AccessIntegrity EQUIVALENT, unlike deleting a member: an event has no\nlockout invariant to violate, and nothing references `events` yet.\n\nThe title and the id are captured BEFORE the delete, because the row is\ngone by the time anybody reads the audit back \u2014 the label is then the\nonly part of that entry that still means anything.\n\nNO TEST PINS THAT ORDERING, and cannot. MEASURED 2026-09-10 by moving\nboth reads after $event->delete(): all 25 tests stay green, because\nEloquent leaves the deleted model's attributes in memory. It is kept\nfirst for the reason MemberController::destroy() keeps its own ordering\n\u2014 the audit must not depend on what a soft delete, a cascading delete\nor a refreshed model would leave behind.\n\n{ok: true} rather than 204, so R1c-2 has somewhere to put the count of\nanswers that went with the event: a member who had said yes deserves to\nbe told how many responses were discarded, and a 204 has no body to say\nit in.",
                "summary": "Takes one off the planning",
                "tags": [
                    "Event"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "description": "The event ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "attendanceDeleted": {
                                            "type": "integer",
                                            "minimum": 0
                                        },
                                        "registrationsDeleted": {
                                            "type": "integer",
                                            "minimum": 0
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "attendanceDeleted",
                                        "registrationsDeleted"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/events/series": {
            "post": {
                "operationId": "eventSeries",
                "tags": [
                    "EventSeries"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreEventSeriesRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The same shape GET /api/events returns, so the SPA refreshes its\nlist from this response rather than guessing what it just made.\n\n\n\nArray of `EventResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/EventResource"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/form-token": {
            "get": {
                "operationId": "formToken",
                "tags": [
                    "FormToken"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "token": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "token"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/events/{event}/registrations.{format}": {
            "get": {
                "operationId": "guestListExport",
                "tags": [
                    "GuestListExport"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "description": "The event ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "headers": {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                "rows": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "array",
                                                        "items": {}
                                                    }
                                                },
                                                "totals": {
                                                    "type": "array",
                                                    "items": {}
                                                }
                                            },
                                            "required": [
                                                "headers",
                                                "rows",
                                                "totals"
                                            ]
                                        }
                                    ]
                                }
                            },
                            "text/csv; charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "text/markdown; charset=UTF-8": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "headers": {
                            "Content-Disposition": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/members": {
            "get": {
                "operationId": "member.index",
                "description": "Ordered by name because this screen is scanned for a person, not browsed\nby register. Grouping by register is the UI's business, and it has\nsectionName to do it with.\n\nwith() is not an optimisation to revisit later: ~45 members without it is\nthree queries each on a shared host, and the screen that administers the\nband is the one that would feel it. Pinned by\nMemberIndexTest::test_listing_the_roster_costs_a_fixed_number_of_queries.",
                "summary": "The whole roster \u2014 everyone, account or not",
                "tags": [
                    "Member"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `MemberResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/MemberResource"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "member.store",
                "description": "THE PASSWORD IS MINTED HERE AND RETURNED ONCE. The plan had create make a\nperson with no credential, leaving \"give this person an account\" as a\nseparate operation. That cannot survive the credentials model: a member\ncreated with an unusable placeholder could be granted members.manage and\nthen be the only administrator left after a deletion \u2014 holding the\npermission and unable to log in. That is the ghost administrator the\nmigration dissolved, and this is the door it would have come back\nthrough.\n\nThe value is the same readable, dictatable one a reset produces\n(GeneratedPassword), and must_change_password is set, because a password\nan administrator read down the phone is not a secret worth keeping.\n\nIT GRANTS NO ROLES, and that is a security property rather than a\nsimplification. Granting a permission is exactly one operation \u2014\nPUT /members/{member}/roles \u2014 which re-authenticates, checks the lockout\ninvariants and audits. Accepting roleIds here would have made the\nUNGUARDED path strictly easier than the guarded one: a stolen session\ncould mint a member holding `direction` and read its password straight\nout of this response, a persistent backdoor needing no password at all.\n\nNo AccessIntegrity check is needed for the same reason: a person with no\nroles cannot orphan administration or demote anybody.",
                "summary": "Creates a person \u2014 which means creating an account, because every member\nhas one (2026_09_08_000001)",
                "tags": [
                    "Member"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreMemberRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "A literal wrapping a Resource, deliberately: the credential is not\npart of a member and must never appear in MemberResource, where every\nlater read of the roster would carry it.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "member": {
                                            "$ref": "#/components/schemas/MemberResource"
                                        },
                                        "generatedPassword": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "member",
                                        "generatedPassword"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/members/{member}": {
            "patch": {
                "operationId": "member.update",
                "description": "The fields go through array_key_exists(), not isset() or has(): both are\nfalse for an explicitly-sent null, so clearing a register would silently\ndo nothing.",
                "summary": "Edits a person. Roles and passwords are elsewhere, each behind its own\nre-authentication \u2014 this is not destructive and deliberately does not\nprompt for one",
                "tags": [
                    "Member"
                ],
                "parameters": [
                    {
                        "name": "member",
                        "in": "path",
                        "required": true,
                        "description": "The member ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateMemberRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`MemberResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MemberResource"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "delete": {
                "operationId": "member.destroy",
                "description": "Existence is the state (design D3): there is no `active` flag and no soft\ndelete, so leaving the band is this.\n\nNO RE-AUTHENTICATION (decision B7, 2026-09-08). The session cookie is\ntrusted, as it already is for reading the whole roster and editing\nanyone. Protection against a mis-aimed tap is the type-the-name\nconfirmation in the UI, which is where mistake-prevention belongs \u2014 a\nserver cannot tell a typed confirmation from an automated one.\n\nCapture the name BEFORE the delete, because the row is gone by the time\nanyone reads the audit back.",
                "summary": "Removes a person entirely",
                "tags": [
                    "Member"
                ],
                "parameters": [
                    {
                        "name": "member",
                        "in": "path",
                        "required": true,
                        "description": "The member ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "sessionsEnded": {
                                            "type": "integer",
                                            "description": "In the SAME transaction as the change (\u00a76). A revoked permission\nthat only takes effect at the next login is a permission the\nholder can keep using all evening."
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "sessionsEnded"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/events/{event}/attendance/{member}": {
            "put": {
                "operationId": "memberAttendance",
                "tags": [
                    "MemberAttendance"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "description": "The event ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "member",
                        "in": "path",
                        "required": true,
                        "description": "The member ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RecordMemberAttendanceRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`AttendanceResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AttendanceResource"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/members/{member}/password": {
            "post": {
                "operationId": "memberPassword",
                "description": "\u00a74.4 describes ONE mechanism for a password coming into being \u2014 open a\nmember, hit \"R\u00e9initialiser le mot de passe\", read out what appears \u2014 so\nthere is one endpoint for it. Since 2026_09_08_000001 every member\nalready has a password, so this is always a reset; the \"give this person\n     * an account\" case is POST /api/members, which mints one at creation using\nthe same generator and the same forced-change semantics.\n\nThe returned password is the only copy that will ever exist in plaintext:\nit is hashed on the way into the database, never written to the audit\nlog, and never returned again.",
                "summary": "Issues a member a new password, shown to the administrator exactly once",
                "tags": [
                    "MemberPassword"
                ],
                "parameters": [
                    {
                        "name": "member",
                        "in": "path",
                        "required": true,
                        "description": "The member ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "generatedPassword": {
                                            "type": "string"
                                        },
                                        "sessionsEnded": {
                                            "type": "integer",
                                            "description": "In the SAME transaction as the change (\u00a76). A revoked permission\nthat only takes effect at the next login is a permission the\nholder can keep using all evening."
                                        }
                                    },
                                    "required": [
                                        "generatedPassword",
                                        "sessionsEnded"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/members/{member}/roles": {
            "put": {
                "operationId": "memberRole",
                "description": "NO RE-AUTHENTICATION (decision B7, 2026-09-08). The cookie is trusted\nhere as it is everywhere else in this API.\n\nTHE REMAINING ORDER IS STILL LOAD-BEARING: check the invariants BEFORE\nthe write, so a refusal leaves no trace; and write, then revoke, then\naudit. Revoking before writing would end the sessions and then fail,\nleaving the member logged out with their old permissions intact.",
                "summary": "Replaces one member's roles \u2014 which is the only way any permission is\never granted or taken away (design \u00a73: no direct per-member grants)",
                "tags": [
                    "MemberRole"
                ],
                "parameters": [
                    {
                        "name": "member",
                        "in": "path",
                        "required": true,
                        "description": "The member ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReplaceMemberRolesRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "member": {
                                            "$ref": "#/components/schemas/MemberResource"
                                        },
                                        "sessionsEnded": {
                                            "type": "integer",
                                            "description": "In the SAME transaction as the change (\u00a76). A revoked permission\nthat only takes effect at the next login is a permission the\nholder can keep using all evening."
                                        }
                                    },
                                    "required": [
                                        "member",
                                        "sessionsEnded"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/events/{event}/registrations": {
            "post": {
                "operationId": "registration.store",
                "description": "Behind PublicWriteGuard \u2014 honeypot plus a signed timestamp \u2014 which is\nthe only thing between this and the open internet.\n\nNO CAPACITY CHECK (decision G1), and that absence is what keeps this\nlock-free. A count-then-insert would need a locking read on the one\nendpoint strangers can hammer; the committee watches the guest list\nand closes the date early instead.\n\nONE TRANSACTION for the booking and its choices: a booking whose\nchoices half-landed is a guest the cook cannot count.",
                "summary": "PUBLIC. Books a place",
                "tags": [
                    "Registration"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "description": "The event ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreRegistrationRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "get": {
                "operationId": "registration.index",
                "description": "Eager-loads the choices and their options in two queries, not one per\nbooking: a souper is ~100 bookings and this screen is also what the\nexports read.",
                "summary": "The guest list. `registrations.view`",
                "tags": [
                    "Registration"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "description": "The event ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of `RegistrationResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/RegistrationResource"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/events/{event}/registration": {
            "get": {
                "operationId": "registration.form",
                "description": "404, NOT 403, for an event that takes no registrations. A stranger\nshould not be able to learn that an event exists but is not taking\nbookings \u2014 that is a fact about the band's private planning, and this\nendpoint is reachable without a session.\n\nAn event that is enabled but outside its window DOES answer, with\n`open: false`, because the form has something worth saying then:\n\"inscriptions d\u00e8s le 3 janvier\" or \"les inscriptions sont closes\".",
                "summary": "PUBLIC. What the booking form needs to render itself",
                "tags": [
                    "Registration"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "description": "The event ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`RegistrationFormResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RegistrationFormResource"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            }
        },
        "/registrations/{registration}": {
            "patch": {
                "operationId": "registration.update",
                "description": "Guests get no self-service (G2), so this is how a misspelled name or\na wrong table gets fixed. The CHOICES are deliberately not editable\nhere: changing what somebody ordered is a different act from fixing\ntheir details, it would need the guest cap re-checked and the\nconfirmation re-sent, and nobody has asked for it. A wrong order is\ncancelled and re-booked.\n\narray_key_exists, not isset: both are false for an explicitly-sent\nnull, so clearing an address would silently do nothing.",
                "summary": "Correcting a booking. `registrations.manage`",
                "tags": [
                    "Registration"
                ],
                "parameters": [
                    {
                        "name": "registration",
                        "in": "path",
                        "required": true,
                        "description": "The registration ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateRegistrationRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`RegistrationResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RegistrationResource"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "delete": {
                "operationId": "registration.destroy",
                "description": "The label is captured BEFORE the delete, because the row is gone by\nthe time anybody reads the audit back \u2014 see App\\Support\\Audit.",
                "summary": "Cancelling on a guest's behalf. `registrations.manage`",
                "tags": [
                    "Registration"
                ],
                "parameters": [
                    {
                        "name": "registration",
                        "in": "path",
                        "required": true,
                        "description": "The registration ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/events/{event}/registration-options": {
            "put": {
                "operationId": "registrationOption",
                "tags": [
                    "RegistrationOption"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "description": "The event ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReplaceRegistrationOptionsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Array of `RegistrationOptionResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/RegistrationOptionResource"
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": "string",
                                            "const": "option_has_registrations"
                                        },
                                        "fields": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    },
                                    "required": [
                                        "error",
                                        "code",
                                        "fields"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/roles": {
            "get": {
                "operationId": "role.index",
                "summary": "`index()`, not `__invoke()` \u2014 see SectionController for why",
                "tags": [
                    "Role"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `RoleResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/RoleResource"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/sections": {
            "get": {
                "operationId": "section.index",
                "description": "The return type is AnonymousResourceCollection rather than JsonResponse\ndeliberately: it is what lets Scramble emit a $ref to a named schema.\nWrapping this in response()->json() would erase the type and generate\n`string[]` in the client \u2014 measured, not inferred.\n\n`index()` rather than `__invoke()`, even though this controller has one\naction: Scramble names the operation after controller + method and drops\nthe method for a single-action controller, so `__invoke` would generate\nthe hook `useSection` for something that returns a list. `index` gives\n`useSectionIndex`.",
                "summary": "The registers, in their configured order",
                "tags": [
                    "Section"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `SectionResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/SectionResource"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "AccountPasswordRequest": {
                "type": "object",
                "description": "A member choosing their own password.\n\nEIGHT CHARACTERS, and that is a judgement rather than a standard. The people\ntyping this are 6-16 years old, on a phone, and the account protects a\nrehearsal calendar. Login is throttled per username AND per IP with a\nfifteen-minute lockout, there is no password reset by email to phish, and the\ncommittee-issued default is ~57 bits \u2014 so the marginal value of demanding\ntwelve is small next to the number of children who would write it on the\ninside of a case lid. Raise it if the committee asks.\n\nRule order: `required` before `min`, so an empty field reports `required`\nrather than `too_short`.",
                "properties": {
                    "currentPassword": {
                        "type": "string"
                    },
                    "newPassword": {
                        "type": "string",
                        "minLength": 8,
                        "maxLength": 255
                    }
                },
                "required": [
                    "currentPassword",
                    "newPassword"
                ],
                "title": "AccountPasswordRequest"
            },
            "AttendanceResource": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string"
                    },
                    "note": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "recordedByDirection": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "status",
                    "note",
                    "recordedByDirection"
                ],
                "title": "AttendanceResource"
            },
            "ChaseListEntryResource": {
                "type": "object",
                "properties": {
                    "memberId": {
                        "type": "integer"
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "sectionName": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "attendance": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/AttendanceResource"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    }
                },
                "required": [
                    "memberId",
                    "firstName",
                    "lastName",
                    "sectionName",
                    "attendance"
                ],
                "title": "ChaseListEntryResource"
            },
            "ContactRequest": {
                "type": "object",
                "description": "Field names are camelCase because contact.js posts the form via FormData with\nthose input names, and App\\Exceptions\\ApiError echoes them straight into\nfields[].field, where i18n.js looks them up. Renaming them silently breaks\nthe French error messages. (The signup form uses snake_case \u2014 the two forms\ngenuinely differ; do not normalise.)\n\nRule ORDER is load-bearing: ApiError reports only the first failed rule per\nfield, so `required` must come first (an empty field reports `required`, not\n`invalid_format`) and `max` must precede `email` (an over-long address\nreports `too_long`). This mirrors App\\Dto\\ContactInput's attribute order.",
                "properties": {
                    "lastName": {
                        "type": "string",
                        "maxLength": 255
                    },
                    "firstName": {
                        "type": "string",
                        "maxLength": 255
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "maxLength": 255
                    },
                    "subject": {
                        "type": "string",
                        "maxLength": 255
                    },
                    "message": {
                        "type": "string"
                    }
                },
                "required": [
                    "lastName",
                    "firstName",
                    "email",
                    "subject",
                    "message"
                ],
                "title": "ContactRequest"
            },
            "EventResource": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "title": {
                        "type": "string"
                    },
                    "startsAt": {
                        "type": "string"
                    },
                    "endsAt": {
                        "type": "string"
                    },
                    "location": {
                        "type": "string"
                    },
                    "attire": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "isPublic": {
                        "type": "boolean"
                    },
                    "notes": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "myAttendance": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/AttendanceResource"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    }
                },
                "required": [
                    "id",
                    "title",
                    "startsAt",
                    "endsAt",
                    "location",
                    "attire",
                    "isPublic",
                    "notes",
                    "myAttendance"
                ],
                "title": "EventResource"
            },
            "MemberResource": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "username": {
                        "type": "string"
                    },
                    "mustChangePassword": {
                        "type": "boolean"
                    },
                    "lastLoginAt": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "sectionId": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "sectionName": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "isPlayer": {
                        "type": "boolean",
                        "description": "Whether they PLAY, which is the single fact that decides who is\nanswerable for an event. Derived from section_id rather than\nstored, so the two can never disagree."
                    },
                    "committeeTitle": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "Text a person typed, so it is stored and rendered verbatim and is\nnever translated \u2014 unlike a role's name, which is a key."
                    },
                    "instructorOfSectionId": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "publicVisible": {
                        "type": "boolean"
                    },
                    "roleIds": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        }
                    }
                },
                "required": [
                    "id",
                    "firstName",
                    "lastName",
                    "username",
                    "mustChangePassword",
                    "lastLoginAt",
                    "sectionId",
                    "sectionName",
                    "isPlayer",
                    "committeeTitle",
                    "instructorOfSectionId",
                    "publicVisible",
                    "roleIds"
                ],
                "title": "MemberResource"
            },
            "RecordMemberAttendanceRequest": {
                "type": "object",
                "description": "Somebody holding attendance.record_for_others answering for a member.\n\nNO C11 REASON RULE, deliberately (decision C13). The member phoned the\ncommittee to say they cannot come; making the committee invent a written\nreason on their behalf would put words in their mouth, and the note is free\ntext here for whatever they actually said.\n\nThat exemption is exactly why the route refuses its own caller (C14): a\nmember who both plays and manages \u2014 demo.both \u2014 could otherwise withdraw\ntheir own yes through this endpoint and never supply the reason C11 asks\nfor. The refusal is in the controller, not here, because it is a conflict\nwith the state of the system rather than a malformed field.",
                "properties": {
                    "status": {
                        "type": "string",
                        "enum": [
                            "yes",
                            "no"
                        ]
                    },
                    "note": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "maxLength": 255
                    }
                },
                "required": [
                    "status"
                ],
                "title": "RecordMemberAttendanceRequest"
            },
            "RecordOwnAttendanceRequest": {
                "type": "object",
                "description": "A member answering for THEMSELVES.\n\nWITHDRAWING A YES COSTS A REASON (decision C11). If the stored answer is\n`yes` and the incoming one is `no`, `note` becomes required and a blank one\ncomes back as an ordinary validation failure against that field \u2014 no new\nerror vocabulary invented, and it lands in the dialog beside the box the\nmember has to fill in.\n\nThe rule is asymmetric on purpose. Saying yes late costs nothing; taking a\nyes back is what leaves the cook with a headcount that is wrong and the\ncommittee with a gap in a Guggenmusik's front row. Recording on somebody's\nbehalf is exempt (C13) and uses RecordMemberAttendanceRequest instead \u2014\nwhich is also why C14 makes the on-behalf route refuse its own caller,\nbecause otherwise this rule would be one request away from evadable.",
                "properties": {
                    "status": {
                        "type": "string",
                        "enum": [
                            "yes",
                            "no"
                        ]
                    },
                    "note": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "`required` rather than `nullable` only on the withdrawal, and\n`required` leads the list because ApiError reports the FIRST\nfailed rule per field.",
                        "maxLength": 255
                    }
                },
                "required": [
                    "status"
                ],
                "title": "RecordOwnAttendanceRequest"
            },
            "RegistrationFormResource": {
                "type": "object",
                "properties": {
                    "event": {
                        "type": "object",
                        "properties": {
                            "title": {
                                "type": "string"
                            },
                            "startsAt": {
                                "type": "string"
                            },
                            "endsAt": {
                                "type": "string"
                            },
                            "location": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "title",
                            "startsAt",
                            "endsAt",
                            "location"
                        ]
                    },
                    "options": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/RegistrationOptionResource"
                        }
                    },
                    "maxGuests": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "opensAt": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "closesAt": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "open": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "event",
                    "options",
                    "maxGuests",
                    "opensAt",
                    "closesAt",
                    "open"
                ],
                "title": "RegistrationFormResource"
            },
            "RegistrationOptionResource": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "label": {
                        "type": "string"
                    },
                    "description": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "priceCents": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "sortOrder": {
                        "type": "integer"
                    }
                },
                "required": [
                    "id",
                    "label",
                    "description",
                    "priceCents",
                    "sortOrder"
                ],
                "title": "RegistrationOptionResource"
            },
            "RegistrationResource": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "phone": {
                        "type": "string"
                    },
                    "address": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "tableName": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "choices": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "optionId": {
                                    "type": "integer"
                                },
                                "label": {
                                    "type": "string"
                                },
                                "quantity": {
                                    "type": "integer"
                                },
                                "priceCents": {
                                    "type": [
                                        "integer",
                                        "null"
                                    ]
                                }
                            },
                            "required": [
                                "optionId",
                                "label",
                                "quantity",
                                "priceCents"
                            ]
                        }
                    },
                    "guestCount": {
                        "type": "string"
                    },
                    "totalCents": {
                        "type": "string"
                    },
                    "createdAt": {
                        "type": "string"
                    }
                },
                "required": [
                    "id",
                    "firstName",
                    "lastName",
                    "email",
                    "phone",
                    "address",
                    "tableName",
                    "choices",
                    "guestCount",
                    "totalCents",
                    "createdAt"
                ],
                "title": "RegistrationResource"
            },
            "ReplaceMemberRolesRequest": {
                "type": "object",
                "description": "Replacing one member's roles.\n\nPUT SEMANTICS: `roleIds` is the complete set the member will be left with,\nand an empty array means \"no roles\". That is deliberate \u2014 a PATCH-style \"add\n * this one\" API cannot express removal, and removal is the half that needs the\ninvariants.\n\n`roleIds` is `present`, not `required`: `required` rejects an empty array,\nwhich is the most important value this endpoint accepts.",
                "properties": {
                    "roleIds": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        }
                    }
                },
                "required": [
                    "roleIds"
                ],
                "title": "ReplaceMemberRolesRequest"
            },
            "ReplaceRegistrationOptionsRequest": {
                "type": "object",
                "description": "The committee editing an event's bookable options, as a complete set.\n\nREPLACE-ALL, matching PUT /members/{member}/roles rather than three\nper-option endpoints: the committee edits the list as a set in one form,\nand an \"add one\" API cannot express removal \u2014 which is the half the\nbooked-option invariant exists for.\n\nEntries carrying an `id` are updated, entries without one are created, and\nanything absent is deleted \u2014 unless somebody has booked it, which is\nrefused with `option_has_registrations` rather than allowed to rewrite\nwhat that person ordered.\n\n`priceCents` is an INTEGER and nullable: 4500 is CHF 45.-, and null is a\nfree option or one whose price lives in the description. Never a float \u2014\nbinary floating point cannot represent 0.1, and this is money.",
                "properties": {
                    "options": {
                        "type": "array",
                        "description": "`present`, not `required`: an event may legitimately have no\noptions, and `required` refuses an empty array.",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": [
                                        "integer",
                                        "null"
                                    ],
                                    "description": "Nullable rather than absent-or-int: the client sends the whole\nlist back, and a new row has no id yet."
                                },
                                "label": {
                                    "type": "string",
                                    "maxLength": 255
                                },
                                "description": {
                                    "type": [
                                        "string",
                                        "null"
                                    ],
                                    "maxLength": 255
                                },
                                "priceCents": {
                                    "type": [
                                        "integer",
                                        "null"
                                    ],
                                    "description": "gte:0 rather than gt:0 \u2014 an option really can cost nothing,\nand that is different from having no price at all (null)."
                                },
                                "sortOrder": {
                                    "type": [
                                        "integer",
                                        "null"
                                    ]
                                }
                            },
                            "required": [
                                "label"
                            ]
                        },
                        "maxItems": 50
                    }
                },
                "required": [
                    "options"
                ],
                "title": "ReplaceRegistrationOptionsRequest"
            },
            "RoleResource": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "key": {
                        "type": "string"
                    },
                    "permissions": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "required": [
                    "id",
                    "key",
                    "permissions"
                ],
                "title": "RoleResource"
[...]
