{
    "openapi": "3.1.0",
    "info": {
        "title": "Les Canetons API",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https://lescanetons.org/api",
            "description": "Production"
        }
    ],
    "paths": {
        "/login": {
            "post": {
                "operationId": "auth.login",
                "tags": [
                    "Auth"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "password": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "username",
                                    "password"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Deliberately no role or permissions in this body. The client asks\nGET /api/me for identity, so there is exactly one shape describing\nwho you are and one place to change it.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "One generic code, never per-field: saying which of username or\npassword was wrong enables enumeration. A member with no username\nnever reaches here \u2014 the `required` rule above rejects an empty\none, and a NULL username matches nothing.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "const": "Incorrect username or password"
                                        },
                                        "code": {
                                            "type": "string",
                                            "const": "invalid_credentials"
                                        },
                                        "fields": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    },
                                    "required": [
                                        "error",
                                        "code",
                                        "fields"
                                    ]
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "const": "Too many attempts"
                                        },
                                        "code": {
                                            "type": "string",
                                            "const": "too_many_attempts"
                                        },
                                        "fields": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    },
                                    "required": [
                                        "error",
                                        "code",
                                        "fields"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/logout": {
            "post": {
                "operationId": "auth.logout",
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/me": {
            "get": {
                "operationId": "auth.me",
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "username": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "firstName": {
                                            "type": "string"
                                        },
                                        "lastName": {
                                            "type": "string"
                                        },
                                        "isPlayer": {
                                            "type": "boolean"
                                        },
                                        "mustChangePassword": {
                                            "type": "boolean"
                                        },
                                        "permissions": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "username",
                                        "firstName",
                                        "lastName",
                                        "isPlayer",
                                        "mustChangePassword",
                                        "permissions"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/config": {
            "get": {
                "operationId": "config",
                "tags": [
                    "Config"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "env": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "env"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contact": {
            "post": {
                "operationId": "contact",
                "tags": [
                    "Contact"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContactRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "ok"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/members": {
            "get": {
                "operationId": "member.index",
                "description": "Ordered by name because this screen is scanned for a person, not browsed\nby register. Grouping by register is the UI's business, and it has\nsectionName to do it with.\n\nwith() is not an optimisation to revisit later: ~45 members without it is\nthree queries each on a shared host, and the screen that administers the\nband is the one that would feel it. Pinned by\nMemberIndexTest::test_listing_the_roster_costs_a_fixed_number_of_queries.",
                "summary": "The whole roster \u2014 everyone, account or not",
                "tags": [
                    "Member"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `MemberResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/MemberResource"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/roles": {
            "get": {
                "operationId": "role.index",
                "summary": "`index()`, not `__invoke()` \u2014 see SectionController for why",
                "tags": [
                    "Role"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `RoleResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/RoleResource"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/sections": {
            "get": {
                "operationId": "section.index",
                "description": "The return type is AnonymousResourceCollection rather than JsonResponse\ndeliberately: it is what lets Scramble emit a $ref to a named schema.\nWrapping this in response()->json() would erase the type and generate\n`string[]` in the client \u2014 measured, not inferred.\n\n`index()` rather than `__invoke()`, even though this controller has one\naction: Scramble names the operation after controller + method and drops\nthe method for a single-action controller, so `__invoke` would generate\nthe hook `useSection` for something that returns a list. `index` gives\n`useSectionIndex`.",
                "summary": "The registers, in their configured order",
                "tags": [
                    "Section"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `SectionResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/SectionResource"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ContactRequest": {
                "type": "object",
                "description": "Field names are camelCase because contact.js posts the form via FormData with\nthose input names, and App\\Exceptions\\ApiError echoes them straight into\nfields[].field, where i18n.js looks them up. Renaming them silently breaks\nthe French error messages. (The signup form uses snake_case \u2014 the two forms\ngenuinely differ; do not normalise.)\n\nRule ORDER is load-bearing: ApiError reports only the first failed rule per\nfield, so `required` must come first (an empty field reports `required`, not\n`invalid_format`) and `max` must precede `email` (an over-long address\nreports `too_long`). This mirrors App\\Dto\\ContactInput's attribute order.",
                "properties": {
                    "lastName": {
                        "type": "string",
                        "maxLength": 255
                    },
                    "firstName": {
                        "type": "string",
                        "maxLength": 255
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "maxLength": 255
                    },
                    "subject": {
                        "type": "string",
                        "maxLength": 255
                    },
                    "message": {
                        "type": "string"
                    }
                },
                "required": [
                    "lastName",
                    "firstName",
                    "email",
                    "subject",
                    "message"
                ],
                "title": "ContactRequest"
            },
            "MemberResource": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "username": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "hasAccount": {
                        "type": "boolean",
                        "description": "Not the same question as \"has a username\": both credentials must\nbe present to log in, and the lockout invariants count only\npeople for whom that is true."
                    },
                    "mustChangePassword": {
                        "type": "boolean"
                    },
                    "lastLoginAt": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "sectionId": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "sectionName": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "isPlayer": {
                        "type": "boolean",
                        "description": "Whether they PLAY, which is the single fact that decides who is\nanswerable for an event. Derived from section_id rather than\nstored, so the two can never disagree."
                    },
                    "committeeTitle": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "Text a person typed, so it is stored and rendered verbatim and is\nnever translated \u2014 unlike a role's name, which is a key."
                    },
                    "instructorOfSectionId": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "publicVisible": {
                        "type": "boolean"
                    },
                    "roleIds": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        }
                    }
                },
                "required": [
                    "id",
                    "firstName",
                    "lastName",
                    "username",
                    "hasAccount",
                    "mustChangePassword",
                    "lastLoginAt",
                    "sectionId",
                    "sectionName",
                    "isPlayer",
                    "committeeTitle",
                    "instructorOfSectionId",
                    "publicVisible",
                    "roleIds"
                ],
                "title": "MemberResource"
            },
            "RoleResource": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "key": {
                        "type": "string"
                    },
                    "permissions": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "required": [
                    "id",
                    "key",
                    "permissions"
                ],
                "title": "RoleResource"
            },
            "SectionResource": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "sortOrder": {
                        "type": "integer"
                    }
                },
                "required": [
                    "id",
                    "name",
                    "sortOrder"
                ],
                "title": "SectionResource"
            }
        },
        "responses": {
            "ValidationException": {
                "description": "Validation failed. See App\\Exceptions\\ApiError::validation().",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "string",
                                    "description": "English message. Never displayed: the front end renders `code`."
                                },
                                "code": {
                                    "type": "string",
                                    "description": "Stable machine token the front end maps to French.",
                                    "enum": [
                                        "validation_failed"
                                    ]
                                },
                                "fields": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "field": {
                                                "type": "string"
                                            },
                                            "reason": {
                                                "type": "string"
                                            },
                                            "params": {
                                                "type": "object",
                                                "additionalProperties": {}
                                            }
                                        },
                                        "required": [
                                            "field",
                                            "reason"
                                        ]
                                    }
                                }
                            },
                            "required": [
                                "error",
                                "code",
                                "fields"
                            ]
                        }
                    }
                }
            },
            "AuthenticationException": {
                "description": "Not authenticated.",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "string",
                                    "description": "English message. Never displayed: the front end renders `code`."
                                },
                                "code": {
                                    "type": "string",
                                    "description": "Stable machine token the front end maps to French.",
                                    "enum": [
                                        "not_authenticated"
                                    ]
                                }
                            },
                            "required": [
                                "error",
                                "code"
                            ]
                        }
                    }
                }
            }
        }
    }
}
